[Desktop Entry]
Type=Application
Name=Resolvefy
GenericName=Video Converter
Comment=Convert video files to be compatible with DaVinci Resolve
Exec=resolvefy-slint
Categories=AudioVideo;Video;
Terminal=false
